* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.form-student-confirm {
  height: 500px;
}
.fieldset-student-add {
  margin: auto;
  margin-top: 0px;
  padding: 50px;
  border: 2px solid #5b7feb;
  background-color: aliceblue;
}

.button-smt {
  background-color: #7492eb;
  border: 1px solid #5b7feb;
  border-radius: 5px;
  padding: 10px 15px;
  width: 120px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}
.add-submit {
  text-align: center;
}
.add-submit input:first-child {
  margin-right: 25px;
}
.message-error {
  color: red;
}
